html * {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
address {
    font-style: normal;
}
a.open-clearing {
    display: block;
    overflow: hidden;
}
.horizontal a.open-clearing #img-preview {
    max-width: 100%;
    max-height: 100%;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-x2 {
    width: 2em !important;
    height: 2em !important;
}
.icon-x3 {
    width: 3em !important;
    height: 3em !important;
}
svg#getEstimateClose {
    width: 1.4375rem;
    height: 1.4375rem;
}
.pseudo-label {
    font-size: 0.875rem;
    color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}
.old_price {
    text-decoration: line-through;
}
.sale_price {
    color: red;
}
.tabs {
    border-bottom: 1px #EFEFEF solid;
}
/* Start Star Rating */
div.rating-cancel,div.star-rating {
    float: left;
    width: 17px;
    height: 15px;
    text-indent: -999em;
    cursor: pointer;
    display: block;
    background: transparent;
    overflow: hidden;
}
div.rating-cancel,div.rating-cancel a {
    background: url('data:image/gif;base64,R0lGODlhEAAgAOYAALlRM729vZmZmd/f35SUlNullfJ2YtbW1uZVS913cvX19c5hU+fEubW1tfOmou6DfNRwZO/v78XFxa2trfbPz/qZhuliWtZtY71bP/CLdu6LgPSfnczMzPXm4cNkS+qwrO7Iw+ZVT9dcUPCEb6WlpcNPM+J+fPGclfCQfv///+fn5/jCveNtYvvr6/3c2NtVSvm4rvqqnOxeU+R3cMZqU+5lUe2SjeuyruqCfL5TOfqikN5qae/KxuBkW+Cqn/i1p9BOPfNyXPnTzON3ePuom71jSuZZUel6b81nV+5pXffn5cBMMvzHufN4YuZXS/aDa/eSffWupPGNefWinviLdd54c+h5dOdcWPqcittoZPC0tfSNgPKsqdZfU/nLw8xRO/zUzeN+fP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEHAGIALAAAAAAQACAAAAf/gGKCg4SFhQoDAQ0NAQcKhmIqARwDKioHDRMDhSoNBxEDHBwHiSSbggqNERwSra2YJI9iBxIqrAG4uQcCHIKNtIvBjBIBJIINoQEpy8wTDRwCx7TKzMvOHAS+rZkT3d7E0bMkmNzeEwcEEqjOmObnEwIRgwMk5xKLEgckBAeF9AKTOAQgIKCfoVUkBBCUIA+Sw4cQC7XQYmLHjio3WkCiMMTGCiFefrC4wKMQhR1cXMDQgYUIkyMLQAxqMcSBiwoopECBQkUkEiWCtOAAgwVKhidInzSJAsSHoDBRYmSQQbWqgS1WaAjaAQPKiGrLnCQ5kUNQlhhIwaZwYoGsoAQaTaAEcUK3rpMHVTwI+vDCQY0adp0YmVKigKAWEFhEoWp3ShcMHQbxWNDDwQMLVx5sEAGAQSEQSL5YsWFjxhIMng0p8UEDQw4PBSJHdBgIADs=') no-repeat 0 -16px;
}
div.star-rating,div.star-rating a {
    background: url('data:image/gif;base64,R0lGODlhEAAwAOYAAKE3N8XFxemzG8yADefCWtSEhNBzc97e3uSvr8BgYOO4Q/fsvMVSUtbW1uK2NOS9Zvb29urLRtqpqe7u7t2oKfHcmt66uuzPea1GRvfp6ey8Iu3CMOnGQevNmc1sbPbhYvTf3/TZWvHOU+fn58daWtmdJc97e9eSkvfrtb9CQsJKSt+vMefEcuzHx+nHTO/FKe/VTPz47+a9QvLVWMxmZszMzPv12Pv15ua/OeiwJfHbot2qRfHcf71KStOPIqo/P+S7Su7DS+WtOO3Sq////9iMjNN8fPTWQOrJgfHNL/LQRfXeXemzIPnu7vLWVe3QWu7DQdGLGenHbu3Ly+/IT+W2OO3OSe+9Ke/OKeq1K961MclgYOu9RO+1QvLcV/DLOffenOi6uuvOh9uUlOy/SLRMTNaZK/LfsLhERPfWSv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEHAGoALAAAAAAQADAAAAf/gGqCg2oQE4SIiA0NiY0TiyONiouMkoIjDQcHmYkTmoublKAjEJuan6KpaqCiNa41izVEgqyxrrEQhK2vDTW5hJi9vJyIoa2LicapNYmUNZqvzIiukYMjNQGdkoeWIFOWiAY04IMtNDQI5Go0BgYk5Ag0RkZbRYktYwZbNCYeW+4MaBRAkKGfgXlGPDBgQMKDPxIMVKhxWIAGCYgRVaigEbGJoHNGMGpMwVGFx0H/SqpIQTJFBkQS/mlcedFEoiLnGOyLSCJBIgMe2l08R6JMooYMUhQ4gQYNgx+JNI4hJAEDgERhJFkAZ2OBOkFPInxdYMVKBXURnDjBQQ6MlRAhjDhcSISCxxMOb5V8EYHDARApOm48geFliWElL15soBKES5UVK9SIgPHhSJIkiTVoYMJFyIoYglxYWXL5hWYBZIRQAD1IxgzEpgUI4ELhBqIKHGaY1iCgSpUHiS5EiLABCpQsOarsSESAiggqMqpwcWwmkQIqVSiwQFKihJAoiSCLIdTBx4BEZyQNGRQIADs=') no-repeat 0 0px;
}
div.rating-cancel a,div.star-rating a {
    display: block;
    width: 16px;
    height: 100%;
    background-position: 0 0px;
    border: 0;
}
div.star-rating-on a {
    background-position: 0 -32px!important;
}
div.star-rating-hover a {
    background-position: 0 -16px;
}
div.star-rating-readonly a {
    cursor: default!important;
}
div.star-rating {
    background: transparent!important;
    overflow: hidden!important;
}
/* End Star Rating */
.top-bar-section .left {
    background-color: #333;
}
footer {
    background-color: #000;
    color: #fff;
}
footer h3 {
    color: #fff;
}
div.alert-box a {
	color: #fff;
	text-decoration: underline;
}

/* Start Mini Basket */
.basket-detail-container {
    position: fixed;
    z-index: 100;
    width: 250px;
    top: 27px;
    margin-left: -150px;
}
.small-basket-detail-container {
    position: fixed;
    z-index: 100;
    width: 90%;
    left: 5%;
    top: 40%;
    background-color: #397D02;
    border: none;
    color: #fff;
    font-weight: bold;
}
.mini-basket-title {
    background-color: #000;
    color: #fff;
}
.basket-detail {
    background-color: #F2F2F2;
    border: 1px solid #000;
}
.basket-detail .total {
    font-size: 1.2em;
    font-weight: 700;
}
.mini-basket-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    margin-left: 229px;
}

/* End Mini Basket */
.social-icons {
    font-size: 30px;
}
td .icon-trash-o {
    color: #333
}
input.quantity {
    width: 100%;
    text-align: center;
}
input.quantity.checkout {
	width:50px;
}
input#coupon {
    border-right: none;
}
div#nav-actions {
   font-size: 0.8125rem;
}

/* Start Checkout Progress */
.checkout-progress-wrapper {
    background-color: #A0D3E8;
    color: #4F4F4F;
    margin-bottom: 10px !important;
}
.checkout-progress.previous {
    background-color: #008CBA;
}
.checkout-progress.current {
    background-color: #43AC6A;
}
.checkout-progress.next {
}
.checkout-progress a {
    color: #4F4F4F;
    text-decoration: none;
}
.checkout-progress.previous a,.checkout-progress.current a {
    color: #FFF;
    text-decoration: none;
}

/* End Checkout Progress */
ul.item_options {
    font-size: 0.75rem;
}

.skin_selector {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}
.skin_selector h4, .skin_selector h4 a {
    color: #fff;
}
#language-switch {
    margin-top: 9px;
}
#language-switch li img {
    padding-bottom: 2px;
    margin-right: 5px;
}
#currency_menu, #language_menu {
	position: absolute; 
	z-index: 100; 
	width: 200px; 
	text-transform: capitalize;
	background-color: #5E5E5E;
	border: 1px solid #000;
	left: -50px;
	top: 30px;
	padding-bottom: 20px;
	padding-top: 15px;
}
#currency_menu h5, #language_menu h5, #currency_menu a, #language_menu a {
	font-weight: bold;
	color: #fff;
}
#box-currency, #box-language {
    margin-left: 60px;
} 
#box-currency {
    margin-right: 32px;
}
#box-currency .button, #box-language .button {
    padding-left: 0px;
    padding-right: 0px;
}
.back-to-top {
	position: fixed;
	bottom: 4em;
	right: 0px;
	text-decoration: none;
	color: #000 !important;
	background-color: #EBEBEB;
	padding: 0.5em 1em;
	display: none;
	z-index: 100;
}
a.back-to-top, a.back-to-top:hover, a.back-to-top:active, a.back-to-top:visited  {
    color: #000 !important;
}
.button.white {
	background-color: #fff;
	color: #666;
}
.button.trans {
	background-color: transparent;
	color: #666;
}
textarea#contact_enquiry {
    height: 150px;
}
@-webkit-keyframes spinner
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinner
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinner
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.icon-submit {
    font-size: 45px;
    -webkit-animation: spinner 1s infinite steps(8);
    animation: spinner 1s infinite steps(8)
}
#recaptcha_widget svg.icon {
    font-size: 30px;
    color: #B9B9B9;
    margin: 10px 15px 0 0;
}
form.add_to_basket input, form.add_to_basket button {
    margin: 0 !important;
}
#nav-actions button.small, #nav-actions .button.small, .panel button.small, .panel .button.small, .product_wrapper .button.small {
    padding: 0 !important;
}
#getEstimateSmall {
    text-align: left;
    left: 0;
    width: 100%
}
#getEstimate, #getEstimateSmall {
    position: absolute;
    z-index: 1000
}
#getEstimateClose {
    color: #aaa;
    cursor: pointer; cursor: hand;
}
form#newsletter_form_box .button {
    padding: 0 1rem;
}
span.button {
    cursor: not-allowed;
}
button.paypal-button:hover, button.paypal-button:focus, .button.paypal-button:hover, .button.paypal-button:focus {
    background-color: #fff !important;
}
svg.remove-coupon {
  color: #c60f13;  
}
.grecaptcha-badge {
    z-index: 99999;
}
body.stream {
    background-color: #000;
}
body.stream h1, body.stream h2, body.stream h3, body.stream p {
    color: #fff;
}
#search_container {
    position: relative;
}
#sayt_results {
    list-style-type: none;
    margin: 0;
    position: absolute;
    z-index: 999999;
    width: 100%;
}
#sayt_results li {
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0.25rem;
    color: #222222;
}
#sayt_results li a:hover {
    text-decoration: underline;
}
#sayt_results li img {
    max-height: 60px;
    max-width: 60px;
    margin-right: 0.25rem;
}
.search_form button svg {
    font-size: 14px;
}
@media only screen and (max-width: 52.0625em) {
    #checkout_actions .button {
        padding-left:0.3125em;
        padding-right:0.3125em;
    }
}

/* Small viewport only */
@media only screen and (max-width: 40em) {
  
    #colorbox.reveal-modal {
        min-height:0vh !important;
        width: 100%;
    }
    .small-collapse {
        padding:0;
        margin:0;
    }
    .off-canvas-for-small {
        position: absolute;
        left: -3000px;
    }
}
/* Medium viewport and above */
@media only screen and (min-width: 40.0625em) {
    #mini-basket {
        min-width: 100px;
    }
    .vertical .clearing-thumbs {
        overflow: hidden;
        height: 350px;
    }
    .vertical .clearing-thumbs a.th:first-child{
        margin-top: 3px;
    }
    .vertical .clearing-thumbs li {
        padding: 0 0.625rem 0.625rem;
    }
    .scroller {
        height: 24px;
        display: none;
        cursor: pointer;
        text-align: center;
    }
    .scroller .icon {
        font-size: 24px;
    }
    #scrollUp .icon {
        display: none;  
    }
    #checkout_register_form input[type="checkbox"] + label, #checkout_register_form input[type="radio"] + label {
        max-width: 580px;
    }
}