<?xml version="1.0" encoding="UTF-8"?>
<!--
 * CubeCart v6
 * ========================================
 * CubeCart is a registered trade mark of CubeCart Limited
 * Copyright CubeCart Limited 2014. All rights reserved.
 * UK Private Limited Company No. 5323904
 * ========================================
 * Web:   http://www.cubecart.com
 * Email:  sales@devellion.com
 * License:  GPL-2.0 http://opensource.org/licenses/GPL-2.0
-->
<installer version="1.0">
  <info>
	<uid>disqus@cubecart.com</uid>
	<type>social</type>
	<name><![CDATA[Disqus]]></name>
	<description><![CDATA[Disqus - Community discussion]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.1.*</maxVersion>
	<creator><![CDATA[CubeCart]]></creator>
	<homepage><![CDATA[http://www.cubecart.com]]></homepage>
	<block>false</block>
  </info>
</installer>