# Logs
/logs/*
!/logs/.htaccess

# CubeCart
/includes/extra/snippet_*
/includes/global.inc.*
/includes/extra/importdata.tmp
/includes/extra/es.json
!/includes/global.inc.php-dist
!/modules/plugins/hooks.xml
/modules/*
/.htaccess
/robots.txt
/sitemap_*

# Language files (installed via API)
/language/*.xml
!/language/definitions.xml
!/language/email_definitions.xml
/language/flags/*
!/language/flags/globe.png
!/language/flags/unknown.png

# Tests
/tests/

# Claude Code
.claude/

# OS General
.DS_Store
Thumbs.db
._*