/includes/extra/snippet_*
/includes/extra/sess_*
/includes/global.inc.*
/includes/extra/importdata.tmp
!/includes/global.inc.php-dist
!/modules/plugins/hooks.xml
/modules/*
.DS_Store
Thumbs.db
/.htaccess
*.js[0-9]*
*.php[0-9]*
*.css[0-9]*
*.xml[0-9]*
*.tpl[0-9]*
*.txt[0-9]*
