/* Begin Submit Buttons */
input[type="submit"], input[type="button"] {
	display: inline-block; 
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: 'Open Sans', sans-serif;
	padding: 8px 12px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	color: #444;
	border: 1px solid #d0d0d0;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	text-shadow: 1px 1px 1px #fff;
	background-color: #e1e1e1;
}
input[type="submit"]:hover, input[type="button"]:hover {
	border: 1px solid #b0b0b0;
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed;
}
input[type="checkbox"]{
	margin: 0;
	position: absolute;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
	_noFocusLine: expression(this.hideFocus=true); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	background-color: red;
	width: 16px;
	height: 16px;
}
.custom-checkbox {
	background: url(../images/0.png);
	width: 16px;
	height: 16px;
}
.custom-checkbox.selected {
	background: url(../images/1.png);
}
.mini_button {
	font-size: 10px !important;
	padding: 5px 3px 3px 3px !important;
}
/* End Submit Buttons */

/* Filemanager */
.fm-container {
	height: 420px;
}
.fm-filelist {
	height: 400px;
	width: 525px;
	overflow-y: scroll;
	border: 1px solid #C7C7C7;
	padding: 3px;
	margin: 5px 0;
	float: left;
}
#image .fm-container .fm-filelist {
	float: left;
}
#image .fm-container .master_image {
	float: left;
	margin-left: 15px;
	font-weight: bold;
}
.fm-filelist > div {
	width: 480px;
	padding: 2px;
	height: 15px;
	line-height: 16px;
	clear: right;
}
.fm-filelist > div > span {
	float: right;
}
.fm-preview {
	margin-left: 15px;
	width: 400px;
	text-align: right;
	display: inline;
}
.fm-upload {
	display: block;
}
/* Notifications */
#gui_message {
	margin: 0 0 5px 10px;
}
.preauth-wrapper #gui_message {
	margin: 0;
}
.infoText, .warnText {
	color:#FFF;
	font-size:14px;
	font-weight: bold;
	padding: 2px 2px 2px 30px;
	text-align: left;
	cursor: pointer;
	min-height: 16px;
}
.warnText:first-child {
	background: #990000 url(../images/warn-close.gif) no-repeat 4px;
}
.warnText {
	background-color: #990000;
}
.infoText:first-child {
	background: #1B4271 url(../images/info-close.gif) no-repeat 4px;
}
.infoText {
	background-color: #1B4271;
}
.warnText ul {
	padding: 1px 14px;
	margin: 0;
	font-weight: normal;
}

.inline-source {
	display: none;
}

.highlight {
	background-color: #FFCECE !important;
}

/* Dynamic styles - used by the jQuery functions */
img.checkbox, .editable {
	cursor: pointer;
}
input.editable {
	cursor: text;
}

/* Layout Styles */
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #555;
	background: #000 url(../images/bg.png);
}

/* Main layout items */
#wrapper {
    
}
#header {
	padding: 2px;
	height: 12px;
	color: #ccc;
}

#navigation {
	float: left;
    width: 120px;
	padding: 28px 0 0 3px;
	height: auto;
	color: #ccc;
}
#content {
	margin-left: 123px;
	height: 100%;
	min-height: 100%;
}
#tab_control {
	height: 26px;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #DDDDDD;
}
#content_body {
	border-left: 1px solid #DDDDDD;
	background-color: #fff;
}

#breadcrumbs {
	padding: 10px 0 2px 10px;	
}
#breadcrumbs .inner {
	padding: 3px;
	background-color: #E8E8E8;
	border-bottom: 1px solid #C7C7C7;
	margin: 0;
}
#breadcrumbs a {
	color: #4F9AAF;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
}
#breadcrumbs a:hover {
	text-decoration: underline;
}

#page_content {
	padding: 0 10px 10px 0;
	min-height: 400px;
}
#login_ssl_switch {
	float: right;
}
/* General tag styles */
fieldset {
	border: none;
	padding: 7px 0;
	margin: 10px 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
fieldset > legend {
	padding: 0 7px;
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	width: 100%;
	padding: 0 0 4px 0;
	text-transform: capitalize;
}
a, #header .user_info i {
	color: #4F9AAF;
	text-decoration: none;
}
a:hover {
	color: #F3068F;
}

a.delete {
	color: #FF0000;
}
img {
	border: none;
}

/* Header elements */

#header .user_info {
	float: right;
	font-size: 11px;
}
.store_open {
	color: #44B215;
}
.store_closed {
	color: red;
}


/* Navigation elements */

#navigation div.menu {
	margin-top: 5px;
	font-weight: bold;
	cursor: pointer;
}

#navigation ul.submenu {
	/*display: none;*/
	margin: 0;
	padding: 2px 10px;
	list-style: none;
}
#navigation ul.submenu > li {
	margin-top: 1px;
}


/* Form element styles */

input.textbox[disabled] {
	border: none;
	background-color: #FFF !important;
	color: #000 !important;
}
.textbox {
	background-color: #E8E8E8;
	border: 1px solid #A6A6A6;
	margin: 2px 0;
	min-height: 15px;
}
.textbox > option {
	margin-right: 5px;
}

.textbox:hover, .textbox:focus {
	background-color: #FFF;
}

textarea.textbox {
	width: 500px;
	min-height: 100px;
}

optgroup > option {
	padding-left: 15px;
}

.tab_content input.textbox, .tb-form input.textbox {
	width: 300px;
}

.tab_content .number {
	width: 100px !important;
}
.tab_content .number-right {
	text-align: right;
}
/* Tab Elements */

div.tab {
	height: 26px;
	padding: 0px 8px;
	float: left;
	line-height: 27px;
	background: #CBCBCB;
	text-align: center;
	cursor: pointer;
	margin-right: 2px;
	border: 1px solid #CBCBCB;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius: 5px 5px 0 0;
	color: #ccc;

}

div.tab > a {
	color: #555;
	text-decoration: none;
}

div.tab-selected {
	background-color: #FFF !important;
	border-color: #DDDDDD !important;
	border-bottom: none !important;
	background-image: none !important;
	height: 27px;
}
.tab-selected > a {

}

div.tab:hover {
	background-color: #E8E8E8;
}

.form_control {
	padding: 5px 10px;
}
div.tab_content {
	margin-bottom: 10px;
	padding: 10px;
	clear: right;
	zoom: 1;
	display: none;
}

div.tab_content > h3, div.tb-form > h3 {
	margin: 0 0 10px;
	color: #4F9AAF;
	font-size: 18px;
}
.tb-form {
	margin: 10px;
}
.tb-form fieldset {
	border: 0px;
}
.tb-form fieldset label, div.tab_content fieldset label {clear:both;float:left;width: 25em;}
.tb-form fieldset span, div.tab_content fieldset span {float:left;width:auto;}
#enabled-zones div, #disabled-zone-list div {clear:left;width:auto;}

div.tab_content label.wide {
	width: 50em;
}
div.tab_content div>label.spacer:after {
	content: '' !important;
}
/* Module Layout Styles */
div.module {
	width: 400px;
	padding: 5px 0;
	margin: 5px;
	clear: right;
}
div.module > span.toggle {
	width: 20px;
	float: left;
}

input.toggle {
	height: 16px;
	width: 16px;
}

.list > div, .list-footer { /* list-footer allows a div under to line up */
	min-height: 25px;
	clear: right;
	vertical-align: middle;
}
.list > div.center {
	text-align: center;
	line-height: 30px;
}

span.actions {
	float: right;
	margin-top: 2px;
	margin-right: 8px;
}
span.actions img {
	vertical-align: middle;
}
span.actions > a {
	outline: none;
}

div.tools {
	text-align: right;
}

table { 
    border-spacing: 1px;
    border-collapse: separate;
}
td {
	padding: 0 2px;
}
.clearfix {
	*zoom:1;
}  
.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}

.clearfix:after {
	clear:both;
}
.left {
	float: left;
}
.right {
	float: right;
}
th a .right  {
	color: #555;
	margin-right: 3px;
}
thead {
	text-align: left;
	background-color: #E7E7E7;
	height: 30px;
}

tbody tr:nth-child(even), #filemanager div div:nth-child(even) {
	background-color: #EDF4F7;
}

thead td, thead th {
	padding: 0 2px;
	border-bottom: 1px solid #C5C5C5;
}

tbody td {
	height: 25px;
}
tbody.scroll {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}

tfoot > tr.template{
	display: none;
}

tfoot {
	border-top: 1px solid #C5C5C5 !important;
}
tfoot tr {
	height: 25px;
}
tfoot tr.foot td {
	border-top: 1px solid #C5C5C5 !important;
	background-color: #E7E7E7 !important;
}

tfoot > tr > th {
	text-align: right;
}



div.pagination {
	padding: 5px 2px 5px;
	margin: 5px 0;
}
div.pagination span {
	float: right;
}
/* Begin Notes Styling */
.note {
	padding: 5px;
	background-color: #FFFBF2;
	border: 1px solid #FFE6B8;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	z-index: 50;
}
.note p {
	background: url(../images/note.png) no-repeat left 4px;
	border-bottom: 1px solid #FFE6B8;
	font-size: 12px;
	margin: 0 0 4px;
	padding: 4px 0 10px 20px;
}
.note textarea {
	border: 0;
	background-color: #FFFBF2;
	width: 99%;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	padding: 5px;
	height: 60px;
	overflow: auto;
}
.note input[type="submit"] {
	background: #E88E22 none;
	border: 1px solid #FFE6B8;
	color: white;
	font-family: 'Open Sans', sans-serif;
	height: auto !important;
}
/* End Notes Styling */

.review {
	border-top: 1px dotted #999999;
	margin: 10px 0;
	padding: 3px 0;
}
.details {
	font-size: 10px;
	padding-top: 5px;
}

.tab_notify {
	width: 16px;
	margin: -6px -10px 0 0;
	float: right;
	text-align: center;
	color: #FFF;
	font-weight: normal;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	line-height: 16px;
	background: url(../images/tab_badge.png) no-repeat;
}

input.save-changes {
	border: 1px solid #FF0000;
	background-color: #FFCFCF;
}

#sidebar_contain {
	background-color: #4F9AAF;
	border: 0px solid #4F9AAF;
	border-right: none;
	min-height: 200px;
	left: -302px;
	top: 0px;
	position: fixed;
	z-index: 10;
	width: 300px;
	-webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,1);
}
#sidebar_content {
	background-color: #F7F7F7;
	margin: 0 5px 5px 0;
	min-height: 200px;
	padding-top: 5px;
}
#sidebar_content:last-child {
	padding-bottom: 5px;
}
.sidebar_content h4 {
	color: #555;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-size: 14px;
}
.sidebar_content .textbox {
	width: 218px;
}
#sidebar_content #product, #sidebar_content #customer_id, #sidebar_content #search_order {
	background-color: #FFF;
}
.sidebar_content {
	background-color: #E8E8E8;
	margin: 5px 10px 10px !important;
	padding: 10px 5px;
}
.sidebar_content .textbox {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	width: 213px;
	height: 24px;
	line-height: 24px;
	text-indent: 5px;
	font-size: 12px;
}
input.search {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 110px;
}
.dashboard_content {
	/*margin-right: 290px !important;*/
	margin-top: 10px !important;
	padding: 5px 0;
	border-top: 1px dotted #999999;
}
.dashboard_content h4 {
	margin: 3px 0 8px 0;
}
.dashboard_content ul, .dashboard_content table {
	padding:0;
	margin:0;
}
.dashboard_content li {
	list-style: none;
}

dl>dt {
	font-weight: bold;
}
dl>dd {
	margin-left: 15px;
}
.courier {
	font-family: "Courier New", Courier, monospace;
}

#loading_content {
	text-align: center;
	margin: 150px auto;
}

#option_template {
	display: none;
	visibility: hidden;
}

.required-error {
	border: 1px solid #FF0000;
	background-color: #FFEDED;
}

.reorder-position {
	border: 2px dashed #C7C7C7;
	background-color: #CDCDCD;
	height: 18px;
}
.reorder-list > tr {
	height: 25px;
}
a.handle {
	cursor: move;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.light-category {
	color: #4c4c4c;
	font-size: 10px;
}
/* Begin Order Overview */
#order_overview .order_address {
	width: 310px;
}
#order_overview #shipping_address {
	float: right;
	margin-top: 0;
}
#order_overview #items {
	clear: right;
}
#order_overview #items div {
	text-align: right;
}
#order_overview #items #item {
	text-align: left;
}
#order_overview #items div span {
	float: right;
	width: 110px;
	text-align: left;
	margin-left: 10px;
}
#order_overview .other {
	width: 350px;
}
#order_overview .other label {
	float: left;
	width: 180px;
	margin: 0;
	padding: 0;
}

/* End Order Overview */

/* Begin Pre Authentication */
.preauth-body {
	margin: auto;
	width: 320px;
}
.preauth-wrapper {
	background-color: #FFF;
	height: 180;
	padding: 0 0 6px 0;
}
.preauth-body #logo {
	margin-top: 30px;
	padding: 20px 0 10px 0;
	text-align: center;
}
#login-box {
	color: #6B6B6B;
	padding-left: 10px;
	padding-right: 10px;
}
#login-box > h1 {
	margin: 7px 0 10px 0;
	padding: 10px 0 3px 0;
	color: #4F9AAF;
	font-size: 18px;
}
#login-box > div {
	clear: right;
	padding-bottom: 5px;
	font-weight: bold;
}
#login-box > div > span {
	float: right;
}
#login-box div span input {
	width: 180px;
}
#login-box-foot {
	margin-top: 10px;
}
#login-box-foot span {
	margin-top: 13px;
}
/* End Pre Authentication */

#progress_wrapper {
	border: 1px solid #999999;
	margin: 10px auto;
	width: 208px;
}
#progress_bar {
	background-color: #91D475;
	margin: 0;
	overflow: hidden;
	padding: 3px 0;
	text-align: center;
	width: 0;
}
#newsletter_send {
	text-align: center;
}
dl {
	margin: 3px 0;
}
.request, .received {
	font-family: "Courier New", Courier, monospace;
}
.request strong, .received strong {
	display: block;
	font-family: 'Open Sans', sans-serif !important;
}
.fa {
	color: #555;
	padding: 2px;
}
.fa-user.registered, .fa-refresh, .fa-plus-circle {
	color: #44B215;
}
.fa-trash, .fa-user.unregistered {
	color: red;
}
table#order-builder .textbox {
	width: 100px;
}
table#order-builder #ajax_name {
	width: 250px;
}
table#order-builder .quantity {
	width: 45px !important;
	text-align: center;
}
div#content .powered {
	border-top: 1px solid #DDD;
	text-align: center;
	padding: 7px 0;
	font-size: 12px;
	color: #ccc;
}
.preauth-body .powered {
	text-align: center;
	padding: 7px 0;
	font-size: 12px;
	color: #ccc;
}