#logo {
    margin: 3px 0 0 3px
}
a.button, div.button, span.button, button.button,
input[type=button],
input[type=submit] {
    display: inline-block;
    font-size: 12px;
    text-decoration: none!important;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0 0 2px #fff;
    -o-box-shadow: inset 0 0 2px #fff;
    -webkit-box-shadow: inset 0 0 2px #fff;
    -moz-box-shadow: inset 0 0 2px #fff;
    color: #444;
    border: 1px solid #d0d0d0;
    background-image: -moz-linear-gradient(#ededed, #e1e1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#ededed));
    background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
    background-image: -o-linear-gradient(#ededed, #e1e1e1);
    text-shadow: 1px 1px 1px #fff;
    background-color: #e1e1e1;
}
a.button:hover, div.button:hover, span.button:hover,
input[type=button]:hover,
input[type=submit]:hover {
    border: 1px solid #b0b0b0;
    background-image: -moz-linear-gradient(#e1e1e1, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#e1e1e1));
    background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
    background-image: -o-linear-gradient(#e1e1e1, #ededed);
    background-color: #ededed
}
a.button.delete, div.button.delete, span.button.delete, button.button.delete,
input[type=button].delete,
input[type=submit].delete {
    border-color: #FF0000 !important;
    color: #FF0000 !important;
    font-weight: bold;
}
input[type=submit].tiny,
input[type=button].tiny,
button.tiny {
    padding: 2px 4px!important
}
.mini_button {
    font-size: 10px!important;
    padding: 5px 3px 3px!important
}
input[type=checkbox] {
    margin: 0;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    outline: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    width: 16px;
    height: 16px
}
.custom-checkbox {
    background: url(../images/0.png);
    width: 16px;
    height: 16px;
    display: inline-block
}
fieldset .custom-checkbox {
    line-height: 24px;
    margin-top: 5px
}
.custom-checkbox.selected {
    background: url(../images/1.png)
}
.fm-refresh {
    cursor: pointer;
}
.fm-container {
    height: 489px;
    position: relative;
    margin-bottom: 30px;
}
#master_image_block {
    position: relative;
    width: 200px;
    height: 200px; 
}
#master_image_block img {
    max-height: 200px;
    max-width: 200px;
}
.fm-container .loading {
    position: absolute;
    z-index: 99999;
    padding: 5px;
}
.fm-filelist {
    height: 400px;
    width: 525px;
    overflow-y: scroll;
    border: 1px solid #c7c7c7;
    padding: 3px;
    margin: 5px 0;
    float: left;
    position: relative;
}
#fm-actions {
    position: absolute;
    bottom: 0px;
    background-color: #eee;
    width: 526px;
    line-height: 25px;
    padding-left: 5px;
    border: 1px solid #c7c7c7;
}
#fm-actions input {
    margin: 0 5px;
}
.fm-container #assigned_toggle {
    text-align: center;
    cursor: pointer;
    display: block;
    width: 50%;
    margin-left: 25%;
}
#cat_images .fm-container .fm-filelist > ul > li:not(:first-child),
#image .fm-container .fm-filelist > ul > li:not(:first-child) {
    margin-left: 20px;
}
.fm-container .master_image {
    margin-left: 15px;
    font-weight: 700;
    position: absolute;
    left: 525px;
}
#preview_image {
    position: absolute;
    top: 0;
    left: 0;
}
.fm-filelist>div {
    padding: 2px;
    height: 15px;
    line-height: 16px;
    clear: right
}
.fm-filelist>div>span {
    float: right
}
.fm-preview {
    margin-left: 15px;
    max-width: 200px;
    max-height: 200px;
    text-align: right;
    display: inline
}
.fm-upload {
    display: block
}
#gui_message {
    margin: 0 0 5px
}
.preauth-wrapper #gui_message {
    margin: 0
}
#gui_message .success,
#gui_message .error {
    color: #FFF;
    font-size: 14px;
    padding: 2px 2px 2px 30px;
    text-align: left;
    cursor: pointer;
    min-height: 16px
}
#gui_message .error:first-child {
    background: url(../images/warn-close.gif) 4px no-repeat #900
}
#gui_message .error {
    background-color: #900
}
#gui_message .success a, #gui_message .error a {
    color: #fff;
    text-decoration: underline;
}
#gui_message .success a:hover, #gui_message .error a:hover {
    text-decoration: none;
}
#gui_message .success:first-child {
    background: url(../images/info-close.gif) 4px no-repeat #1b4271
}
#gui_message .success {
    background-color: #1b4271
}
#gui_message .error ul {
    list-style-type: none;
    padding: 1px 0;
    margin: 0;
    font-weight: 400
}
.inline-source {
    display: none
}
.highlight {
    background-color: #ffcece!important
}
.editable,
img.checkbox {
    cursor: pointer
}
input.editable {
    cursor: text
}
html {
    margin: 0;
    padding: 0
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #555;
    background: #ECECEC
}
body.login {
    background-color: #1E3D45
}
hr {
    height: 1px;
    border: 0;
    color: #ddd;
    background-color: #ddd
}
#header {
    padding: 5px;
    height: 30px;
    color: #fff;
    background: #1E3D45;
    border-bottom: 3px solid #4F9AAF
}
#navigation {
    float: left;
    width: 120px;
    padding: 5px 0 0 3px;
    height: auto;
    background: #F9F9F9;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    color: #737373
}
#navigation a {
    color: #737373
}
#content {
    margin-left: 128px;
    height: 100%;
    min-height: 100%
}
#tab_control {
    height: 26px;
    margin-top: 10px;
    padding: 0 0 1px;
    border-bottom: 1px solid #D0D0D0
}
#content_body {
    background-color: #fff;
    padding-top: 5px;
    border-left: 1px solid #D0D0D0
}
#breadcrumbs {
    padding: 0;
    margin-left: 128px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0
}
#breadcrumbs .inner {
    padding: 0;
    margin: 0
}
#breadcrumbs a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 400
}
#breadcrumbs a:hover {
    text-decoration: underline
}
#breadcrumbs ul.location {
    list-style: none;
    margin: 0;
    padding: 0
}
#breadcrumbs ul.location .fa-chevron-right {
    color: #D0D0D0
}
#breadcrumbs ul.quick_links {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    border-left: 1px solid #D0D0D0
}
#breadcrumbs .location li {
    display: inline-block;
    padding: 5px
}
#breadcrumbs ul.quick_links li {
    float: left;
    padding: 5px 15px
}
#breadcrumbs a {
    color: #737373
}
#breadcrumbs ul.quick_links li:not(:last-child) {
    border-right: 1px solid #D0D0D0
}
#page_content {
    padding: 0 10px 10px;
    min-height: 400px;
    margin: 10px 0 0 10px
}
#page_content h3 {
    color: #4F9AAF;
    margin: 0 0 10px
}
#login_ssl_switch {
    float: right
}
fieldset {
    border: 0;
    padding: 0;
    margin: 20px 0;
    line-height: 23px
}
fieldset select {
    max-width: 400px
}
fieldset>legend {
    font-weight: 700;
    border-bottom: 1px solid #C5C5C5;
    background-color: #E7E7E7;
    width: 100%;
    margin: 10px 0 1px;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    text-indent: 5px;
}
fieldset div.clear {
    clear: left
}
#header .user_info {
    margin-top: 7px
}
#header .user_info i,
a, .fm-refresh {
    color: #4f9aaf;
    text-decoration: none
}
a:hover {
    color: #f3068f
}
a.delete {
    color: red
}
img {
    border: 0
}
#header .user_info {
    float: right;
    font-size: 12px
}
.store_open {
    color: #9aaf4f
}
.important,
.store_closed {
    color: #900
}
#navigation div.menu {
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background: #F9F9F9;
    border-bottom: 1px solid #ECECEC;
    padding: 5px
}
#navigation ul.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #F1F1F1
}
#navigation ul.submenu.hide {
    display: none
}
#navigation ul.submenu>li {
    margin-top: 0;
    padding: 5px;
    border-bottom: 1px solid #EAEAEA
}
#navigation ul.submenu>li a:hover {
    color: #f3068f
}
#navigation ul.submenu>li:last-child {
    border-bottom: none
}
input.textbox[disabled] {
    border: 0;
    background-color: #FFF!important;
    color: #000!important
}
.phrases input.textbox[disabled] {
    background-color: #e8e8e8!important;
    border: 1px solid #a6a6a6;
    margin: 2px 0;
    min-height: 15px;
    width: 300px
}
.textbox {
    background-color: #e8e8e8;
    border: 1px solid #a6a6a6;
    margin: 2px 0;
    min-height: 15px;
    width: 300px
}
.textbox>option {
    margin-right: 5px
}
.textbox:focus,
.textbox:hover {
    background-color: #FFF
}
textarea.textbox {
    width: 500px;
    min-height: 100px
}
optgroup>option {
    padding-left: 15px
}
.tab_content input.textbox,
.tb-form input.textbox {
    width: 300px
}
.tab_content .number {
    width: 100px!important
}
.tab_content .number-right {
    width: 100px!important;
    text-align: right
}
.tab_content .number-center {
    width: 100px!important;
    text-align: center
}
div.tab {
    position: relative;
    height: 26px;
    padding: 0 8px;
    float: left;
    line-height: 27px;
    background: #F4F5F5;
    text-align: center;
    cursor: pointer;
    margin-right: 2px;
    border: 1px solid #D0D0D0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    color: #ccc
}
div.tab>a {
    color: #737373;
    text-decoration: none
}
div.tab-selected>a {
    color: #000
}
div.tab-selected {
    background-color: #FFF!important;
    border-color: #D0D0D0!important;
    border-bottom: none!important;
    background-image: none!important;
    height: 27px
}
div.tab:hover {
    background-color: #fff
}
.form_control {
    padding: 5px 0
}
div.tab_content {
    margin-bottom: 10px;
    padding: 0;
    clear: right;
    zoom: 1;
    display: none
}
div.tab_content>h3,
div.tb-form>h3 {
    margin: 0 0 10px;
    color: #4f9aaf;
    font-size: 18px
}
.tb-form {
    margin: 10px
}
.tb-form fieldset {
    border: 0
}
.tb-form fieldset > div,
div.tab_content fieldset > div {
    clear: left;
    min-height: 23px;
    padding: 0px;
    text-indent: 5px;
}
.tb-form fieldset label,
div.tab_content fieldset label {
    line-height: 23px;
    float: left;
    width: 30em
}
.tb-form fieldset span,
div.tab_content fieldset > span {
    width: auto
}
#disabled-zone-list div,
#enabled-zones div {
    clear: left;
    width: auto
}
div.tab_content fieldset label.narrow {
    width: 12em
}
div.tab_content label.wide {
    width: 50em
}
div.tab_content div>label.spacer:after {
    content: ''!important
}
div.module {
    width: 400px;
    padding: 5px 0;
    margin: 5px;
    clear: right
}
div.module>span.toggle {
    width: 20px;
    float: left
}
input.toggle {
    height: 16px;
    width: 16px
}
.list-footer {
    background-color: #fff !important
}
.list-footer,
.list>div {
    min-height: 25px;
    clear: right;
    vertical-align: middle
}
.list>div.center {
    text-align: center;
    line-height: 30px
}
span.actions {
    float: right
}
span.actions img {
    vertical-align: middle
}
span.actions>a {
    outline: 0
}
div.tools {
    text-align: right
}
table {
    border-spacing: 1px;
    border-collapse: separate
}
td {
    padding: 0 2px
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.left {
    float: left
}
.right {
    float: right
}
th a .right {
    color: #555;
    margin-right: 3px
}
thead {
    text-align: left;
    background-color: #e7e7e7;
    height: 30px
}
thead td,
thead th {
    padding: 0 0 0 5px !important
}
#filemanager div div:nth-child(even),
fieldset>div:nth-child(even),
tbody tr:nth-child(even) {
    background-color: #edf4f7
}
#filemanager div div.fm-item:nth-child(odd) {
    background-color: #edf4f7
}
#filemanager div div:hover {
    background-color: #f7f5ed;
}
#filemanager div div.folder {
    background-color: #fff !important;
}
#filemanager hr {
    margin: 1em 0
}
.stripe div {
    text-indent: 5px !important;
}
.stripe div small {
    margin-left: 5px !important;
}
.stripe div:nth-child(odd) {
    background-color: #edf4f7
}
.stripe div:nth-child(even) {
    background-color: #fff !important
}
.stripe_reverse div:nth-child(odd) {
    background-color: #fff !important
}
.stripe_reverse div:nth-child(even) {
    background-color: #edf4f7 !important
}
fieldset .checkbox {
    margin-top: 4px
}
table.collapsed {
    border-collapse: collapse;
    border: 1px solid #c5c5c5
}
.thead,
thead td,
thead th {
    font-weight: 700;
    padding: 0 5px !important;
    border-bottom: 1px solid #c5c5c5;
    background-color: #E7E7E7
}
.thead.vertical {
    border-right: 1px solid #c5c5c5;
}
tbody td {
    height: 25px
}
tbody.scroll {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto
}
tfoot>tr.template {
    display: none
}
tfoot {
    border-top: 1px solid #c5c5c5!important
}
tfoot tr {
    height: 25px
}
tfoot tr.foot td {
    border-top: 1px solid #c5c5c5!important;
    background-color: #e7e7e7!important
}
tfoot>tr>th {
    text-align: right
}
div.pagination {
    padding: 5px 2px;
    margin: 5px 0
}
div.pagination span {
    float: right
}
#advanced dl {
    margin: 0;
}
#advanced dt, #advanced dd {
    float: left;
    margin: 0;
}
#advanced dt {
    clear:both;
    width: 20%;
    text-indent: 5px;
}
#advanced dd {
    width: 80%;
}
#advanced  dt:nth-of-type(even), #specs dd:nth-of-type(even), #advanced  dd:nth-of-type(even), #specs dt:nth-of-type(even) {
    background-color: #edf4f7
}
form.note p {
    font-weight: bold;
}
.note {
    padding: 5px;
    background-color: #fffbf2;
    border: 1px solid #ffe6b8;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 12px;
    z-index: 50;
    margin-bottom: 5px
}
.note p {
    border-bottom: 1px solid #ffe6b8;
    font-size: 12px;
    margin: 0 0 4px;
    padding: 5px 0px;
}
.note textarea {
    border: 0;
    background-color: #fffbf2;
    width: 99%;
    font-size: 12px;
    padding: 5px;
    height: 60px;
    overflow: auto;
    color: #555;
}
.note textarea:focus {
    outline: none;
}
.note input[type=submit] {
    background: #e88e22;
    border: none;
    color: #fff;
    text-shadow: none;
    padding: 3px 9px !important;
    font-size: 12px !important;
}
.review {
    border-top: 1px dotted #999;
    margin: 10px 0;
    padding: 3px 0
}
.details {
    font-size: 10px;
    padding-top: 5px
}
.tab_notify {
    z-index: 1000;
    position: absolute;
    right: -2px;
    top: -10px;
    min-width: 10px;
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 10px;
    background: #FF0000;
    border-radius: 10px;
    padding: 3px;
}
input.save-changes {
    border: 1px solid red;
    background-color: #ffcfcf
}
#sidebar_contain {
    background-color: #27515D;
    border: 0 solid #27515D;
    border-right: 0;
    min-height: 200px;
    left: -340px;
    top: 0;
    position: fixed;
    z-index: 10;
    width: 300px;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 1);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 1)
}
#sidebar_content {
    background-color: #f7f7f7;
    margin: 0 5px 5px 0;
    min-height: 200px;
    padding-top: 5px
}
#sidebar_content:last-child {
    padding-bottom: 5px
}
.sidebar_content h4 {
    color: #555;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 14px
}
#sidebar_content #customer_id,
#sidebar_content #product,
#sidebar_content #search_order {
    background-color: #FFF
}
.sidebar_content {
    background-color: #e8e8e8;
    margin: 5px 10px 10px!important;
    padding: 10px 5px
}
.sidebar_content .textbox {
    font-family: 'Open Sans', sans-serif, FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 213px;
    height: 24px;
    line-height: 24px;
    text-indent: 5px;
    font-size: 12px
}
input.search {
    font-family: 'Open Sans', sans-serif, FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 95px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    background-color: #fff;
    padding: 5px;
    margin: 0 5px;
}
input.search {
    outline: none
}
.dashboard_content {
    margin-top: 10px!important;
    padding: 5px 0
}
.dashboard_content h4 {
    margin: 3px 0 8px
}
.dashboard_content table,
.dashboard_content ul {
    padding: 0;
    margin: 0
}
.dashboard_content li {
    list-style: none
}
.courier {
    font-family: "Courier New", Courier, monospace
}
#loading_content {
    text-align: center;
    margin: 150px auto
}
#loading_content i {
    color: #D0D0D0;
    font-size: 10em
}
#option_template {
    display: none;
    visibility: hidden
}
.required-error {
    border: 1px solid red;
    background-color: #ffeded
}
.reorder-position {
    border: 2px dashed #c7c7c7;
    background-color: #cdcdcd;
    height: 18px
}
.reorder-list>tr {
    height: 25px
}
a.handle {
    cursor: move
}
.capitalize {
    text-transform: capitalize
}
.uppercase {
    text-transform: uppercase
}
.light-category {
    color: #4c4c4c;
    font-size: 10px
}
#order_overview .order_address {
    width: 310px
}
#order_overview #shipping_address {
    float: right;
    margin-top: 0
}
#order_overview #items {
    clear: right
}
#order_overview #items div {
    text-align: right
}
#order_overview #items #item {
    text-align: left
}
#order_overview #items div span {
    float: right;
    width: 110px;
    text-align: right;
    margin-left: 10px
}
#order_overview .other {
    width: 350px
}
#order_overview .other label {
    float: left;
    width: 180px;
    margin: 0;
    padding: 0
}
.preauth-body {
    margin: auto;
    width: 320px
}
.preauth-wrapper {
    background-color: #FFF;
    padding: 0 0 6px
}
.preauth-body #logo {
    margin-top: 30px;
    padding: 20px 0 10px;
    text-align: center
}
#login-box {
    color: #6b6b6b;
    padding-left: 10px;
    padding-right: 10px
}
#login-box>h1 {
    margin: 7px 0 10px;
    padding: 10px 0 3px;
    color: #4f9aaf;
    font-size: 18px
}
#login-box>div {
    clear: right;
    padding-bottom: 5px;
    font-weight: 700
}
#login-box>div>span {
    float: right
}
#login-box div span input {
    width: 180px
}
#login-box-foot {
    margin-top: 10px
}
#login-box-foot span {
    margin-top: 13px
}
#progress_wrapper {
    border: 1px solid #999;
    margin: 100px auto 10px auto;
    width: 350px
}
#progress_bar {
    background-color: #91d475;
    margin: 0;
    overflow: hidden;
    padding: 3px 0;
    text-align: center;
    width: 0;
    height: 10px;
}
#newsletter_send, #elasticsearch #progress_bar_percent {
    text-align: center
}
table.fixed {
    table-layout: fixed;
}
.received,
.request,
.request_error {
    font-family: "Courier New", Courier, monospace;
    overflow-wrap: break-word
}
#request_log tr.request_error {
    background: #fff2f2;
    color: red
}
.custom-phrase {
    background: #f2fff2!important
}
table.phrases td.actions {
    background-color: #FFF!important
}
.received strong,
.request strong {
    display: block;
    font-family: 'Open Sans', sans-serif!important
}
.fa {
    color: #555;
    padding: 2px
}
.fa-check,
.fa-plus-circle,
.fa-refresh,
.fa-user.registered {
    color: #9aaf4f
}
.fa-trash,
.fa-user.unregistered {
    color: red
}
.fa-trash.disabled {
    color: #ccc;
    cursor: pointer;
}
table#order-builder .textbox {
    width: 100px
}
table#order-builder #ajax_name {
    width: 250px
}
table#order-builder .quantity {
    width: 45px!important;
    text-align: center
}
div#content .powered {
    text-align: center;
    padding: 7px 0;
    font-size: 14px;
    color: #333;
    background: #fff;
    border-left: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0
}
.preauth-body .powered {
    text-align: center;
    padding: 7px 0;
    font-size: 12px;
    color: #fff
}
.joyride_tour_end {
    width: 530px!important
}
.google_chart {
    width: 100%;
    height: 500px
}
.nostripe {
    background: none!important
}
legend a.delete {
    float: right;
    padding-right: 5px
}
textarea[id^='string_'] {
    width: 300px
}
input[type="submit"].go_search {
    padding: 4px 12px;
    margin-top: 2px
}
@media screen and (max-width: 650px) and (min-width: 100px) {
    #content {
        margin-left: 4px !important
    }
    span.user_info,
    #breadcrumbs,
    div#navigation {
        display: none
    }
}
#items .download_info {
    text-align: left !important;
    font-family: courier;
    font-size: 10px
}
.link_expired {
    color: red
}
.link_active {
    color: green
}
;
ul.quick_links li#help_menu {
    position: relative
}
ul.quick_links li#help_menu ul {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    padding: 0;
    margin: 5px 0 0 -16px;
    border: 1px solid #D0D0D0;
    border-right: none
}
ul.quick_links li#help_menu:hover ul {
    display: block !important
}
ul.quick_links li#help_menu ul li {
    list-style: none;
    text-align: left;
    float: left;
    border: none;
    width: 100%
}
ul.quick_links li#help_menu ul li:not(:last-child) {
    border-bottom: 1px solid #D0D0D0
}
#breadcrumbs a:hover {
    text-decoration: none;
    color: #000
}
#dashboard .extension-container {
    max-width: 1200px;
}
#dashboard .extension {
    float: left;
    width: 150px;
    height: 200px;
    margin: 5px;
    padding: 0 10px 5px 10px;
    border: 1px solid #D0D0D0;
    background-color: #ECECEC
}
#dashboard .extension h4 {
    height: 30px
}
#dashboard .extension h4 span {
    float: right
}
.mail_modal {
    padding: 10px;
    width: 450px
}
.MultiFile-list {
    margin: 10px 0 0 0; 
}
.fa-sticky-note {
    color: #ffe6b8;
}
#database .fa-exclamation-triangle {
    color: #FF6600;
}
#database .fa-check {
    color: #9aaf4f;
}
.row_warn {
    background-color: #FF6600;
    color: #fff;
    padding-left: 5px;
    border-bottom: 25px solid #FFF;
}
.row_error {
    background-color: #FF0000;
    color: #fff;
    padding-left: 5px;
    border-bottom: 25px solid #FFF;
}
#php_code {
    height: 300px;
    background: none !important;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-indent:0 !important;
}
#clear_cache_master {
    text-transform: uppercase;
}

@keyframes cache_amimation {
    0% {
      background-color: #ffb733;
    }
    50% {
      background-color: #fff0d3;
    }
    100% {
      background-color: #ffa500;
    }
}

#clear_cache_master.clear {
    background: #ffa500;
    animation-name: cache_amimation;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
#clear_cache_master.clear a {
    color: #fff !important;   
}
#clear_cache_master.clear a {
    color: #fff !important;   
}
#clear_cache_master.clear:hover {
    background: #ffb733;
}
.order_status_1 {
	color:#008CBA;
}
.order_status_2 {
	color:orange;
}
.order_status_3 {
	color:#43AC6A;
}
.order_status_4,.order_status_5,.order_status_6 {
	color:#F04124;
}
.line-through {
    text-decoration: line-through;
}
.language_list .flag {
    margin: 1px;
}
.width_30 {
    width: 30%;
}
.width_50 {
    width: 50%;
}
#filemanager p.clear {
    clear: both;
}
#fm-cropper .dimensions {
    font-family: 'Courier New', monospace;
    text-align: center;
}
.fm-item {
    float: left;
    margin: 5px 5px 30px 5px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none !important;
    
}
.fm-item.hilighted {
    border: 5px solid red;
    margin: 0px 0px 25px 0px !important;
}
.fm-item .thumbnail {
    text-align: center;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    background: none;
    overflow: hidden;
}
.fm-item .actions {
    background: rgba(255,255,255, 0.7);
    color: #444;
    bottom: 0px;
    position: absolute;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    display: block;
    width: inherit;
}
.fm-item .actions i.fa {
    color: #444;
}
.fm-item img {
    height: inherit;
}
.fm-item > a {
    color: #444;
    bottom: -16px;
    position: absolute;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    width: inherit;
    overflow-x: hidden;
}
.fm-item-small > a {
    font-size: 8px;
}
.folder .actions {
    background: none !important;
}
.folder .actions i.fa {
    color: #444;
}
.fm-item-xlarge {
    width: 500px;
    height: 500px;
}
.fm-item-large {
    width: 300px;
    height: 300px;
}
.fm-item-medium {
    width: 150px;
    height: 150px;
}
.fm-item-small {
    width: 100px;
    height: 100px;
}
#filemanager .toggle {
    float: right;
}
#filemanager .toggle span {
    display: inline-block;
    margin: 2px;
    background-color: #444;
    cursor: pointer;
}
#filemanager .toggle span:hover {
    background-color: #f3068f;
}
#filemanager .toggle span.active {
    background-color: #4F9AAF;
}
#filemanager .toggle span.xlarge {
    width: 16px;
    height: 16px;
}
#filemanager .toggle span.large {
    width: 14px;
    height: 14px;
}
#filemanager .toggle span.medium {
    width: 12px;
    height: 12px;
}
#filemanager .toggle span.small {
    width:10px;
    height:10px;
}
#filemanager .digital {
    font-size: 14px;
}
#filemanager .fa-folder {
    color: #72a7cf;
}
ul.fmsearch_images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.fmsearch_images li {
    margin-bottom: 15px;
    text-align: center;
}
ul.fmsearch_images li.show div:hover {
    background-color: #edf4f7;
    border: 1px solid #ccc;
}
ul.fmsearch_images li div {
    padding: 5px;
    border: 1px solid #fff;  
}
ul.fmsearch_images img {
    max-width: 150px;
    max-height: 150px;
}
.tooltip {
    position: relative;
}  
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 6px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: "Courier New", Courier, monospace;
    display: block;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.w3w {
    color: #E11F26;
    display: block;
}
.w3w a {
    color: #333333;
    text-decoration: none;
}
.severity {
    color: #FFF;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}
.severity li {
    padding: 3px;
}
.severity .green {
    background-color: green;
}
.severity .yellow {
    background-color: yellow;
    color: #737373;
}
.severity .orange {
    background-color: orange;
}
.severity .red {
    background-color: red;
}
#gallery_json ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#gallery_json ul li {
    padding: 2px;
}
#gallery_json ul li img {
    max-width: 100px;
    max-height: 100px;
}
.text-left {
    text-align: left!important
}
.text-right {
    text-align: right!important
}
.text-center {
    text-align: center!important
}