<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>olark1.0@cubecart.com</uid>
	<type>livehelp</type>
	<name><![CDATA[Olark]]></name>
	<description><![CDATA[Olark Live Chat]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0</minVersion>
	<maxVersion>5.1.*</maxVersion>
	<creator><![CDATA[Olark]]></creator>
	<homepage><![CDATA[http://www.olark.com]]></homepage>
  </info>
</installer>