<?xml version="1.0" encoding="UTF-8" ?>
<!--
 * CubeCart v6
 * ========================================
 * CubeCart is a registered trade mark of CubeCart Limited
 * Copyright CubeCart Limited 2014. All rights reserved.
 * UK Private Limited Company No. 5323904
 * ========================================
 * Web:   http://www.cubecart.com
 * Email:  sales@devellion.com
 * License:  GPL-2.0 http://opensource.org/licenses/GPL-2.0
-->
<installer version="1.0">
  <info>
	<uid>support@reviews.co.uk</uid>
	<type>plugins</type>
	<name><![CDATA[Reviews.co.uk Export]]></name>
	<description><![CDATA[Ask your customers for reviews automatically.]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.0.*</maxVersion>
	<creator><![CDATA[Reviews.co.uk]]></creator>
	<homepage><![CDATA[http://www.reviews.co.uk]]></homepage>
  </info>
  
  <hooks>
	<hook trigger="admin.order.index.post_process" enabled="1"><![CDATA[Admin Configuration Page]]></hook>
	<hook trigger="controller.admin" enabled="1"><![CDATA[Load admin area]]></hook>
  </hooks>
</installer>
