<?xml version="1.0"?>
<skin version="3.1">
  <info>
	<!--
	UIDs can be generated on the unix/linux command line using `uuid -v4`, or you can use any string, as long as you think it wont accidentally be picked by anyone else
	A good example of the latter would be something like 'skin-blank@example.com'. While not necessarily an active email address, it's a pretty good approximation of a unique key
	--> 
	<uid>foundation-1.0@cubecart.com</uid>
	<type>skin</type>
	<name><![CDATA[foundation]]></name>
	<!-- Please leave this as foundation if your custom skin derives from it -->
	<original_name><![CDATA[foundation]]></original_name>
	<display><![CDATA[Foundation]]></display>
	<!-- This skin is versioned within the master package if you use this as a base for a custom skin please replace n/a with a version number for each release in the marketplace. -->
	<version>n/a</version>
	<minVersion>6.0.0</minVersion>
	<maxVersion>6.*.*</maxVersion>
	<creator>CubeCart Limited</creator>
	<homepage>http://www.cubecart.com</homepage>
	<mobile>false</mobile>
	<responsive>true</responsive>
	<csrf>true</csrf>
	<newsletter_recaptcha>true</newsletter_recaptcha>
  </info>
  <layout>
	<products>
		<perpage amount="6" />
		<perpage default="true" amount="12" />
		<perpage amount="24" />
		<perpage amount="48" />
		<perpage amount="96" />
	</products>
  </layout>
  <styles>
	<style images="false" default="true">
	  <!-- images: TRUE tells the template system that this style has its own image folder. FALSE would use the contents in the root of the images folder. For example with this as false images/image.jpg vs images/default/image.jpg if set to true -->
	  <directory>default</directory>
	  <name><![CDATA[Default]]></name>
	  <description><![CDATA[Default Subtheme]]></description>
	  <default />
	</style>
	<!-- You can have as many subthemes as you want
	<style images="false">
	  <directory>red</directory>
	  <name><![CDATA[Red]]></name>
	  <description><![CDATA[Red style]]></description>
	</style>
	-->
  </styles>
  <images>
	<image reference="thumbnail" maximum="190" quality="80" default="noimage.png" />
	<image reference="category" maximum="800" quality="80" default="" /><!-- Doesnt need a default -->
	<image reference="subcategory" maximum="105" quality="80" default="noimage.png" />
	<image reference="gallery" maximum="50" quality="80" default="noimage.png" />
	<image reference="checkout" maximum="50" quality="80" default="noimage.png" />
	<image reference="normal" maximum="300" quality="80" default="noimage.png" />
	<image reference="enlarge" maximum="600" quality="80" default="" /><!-- Doesnt need a default -->
	<image reference="tiny" maximum="30" quality="80" default="noimage.png" />
	<image reference="small" maximum="200" quality="80" default="noimage.png" />
	<image reference="medium" maximum="500" quality="80" default="noimage.png" />
	<image reference="large" maximum="600" quality="80" default="" /><!-- Doesnt need a default -->
  </images>
	<!-- Use this to add custom variables into the skin which can be found in the smarty SKIN_CUSTOM array -->
	<custom>
		<recaptcha_badge_position>bottomright</recaptcha_badge_position><!-- Invisible Recaptcha Badge Position: bottomright, bottomleft or inline -->
	</custom>
</skin>