<!--
/**
 * CubeCart v6
 * ========================================
 * CubeCart is a registered trade mark of CubeCart Limited
 * Copyright CubeCart Limited 2014. All rights reserved.
 * UK Private Limited Company No. 5323904
 * ========================================
 * Web:   http://www.cubecart.com
 * Email:  sales@devellion.com
 * License:  GPL-2.0 http://opensource.org/licenses/GPL-2.0
 */
-->
<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>support@okpay.com</uid>
	<type>gateway</type>
	<mobile_optimized>false</mobile_optimized>
	<name><![CDATA[OKPay]]></name>
	<description><![CDATA[OKPAY Payment Gateway]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.1.*</maxVersion>
	<creator><![CDATA[OKPAY, Ltd]]></creator>
	<homepage><![CDATA[https://www.okpay.com]]></homepage>
	<block>false</block>
  </info>
</installer>