<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>facebook@cubecart.com</uid>
	<type>social</type>
	<name><![CDATA[Facebook]]></name>
	<description><![CDATA[Facebook - comments and like buttons]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.1.*</maxVersion>
	<creator><![CDATA[CubeCart]]></creator>
	<homepage><![CDATA[http://www.cubecart.com]]></homepage>
	<block>false</block>
  </info>
</installer>