<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>shipping-All_In_One_Shipping@expandingbrain.com</uid>
	<type>shipping</type>
	<name><![CDATA[All_In_One_Shipping]]></name>
	<description><![CDATA[Advanced shipping module that can calculate shipping based on the weight, subtotal and number of items in the order.]]></description>
	<version>1.0 BETA</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.0.*</maxVersion>
	<creator><![CDATA[Estelles Winterflood]]></creator>
	<homepage><![CDATA[http://cubecart.expandingbrain.com]]></homepage>
	<block>false</block>
  </info>
</installer>
