<?xml version="1.0" encoding="UTF-8" ?>
<!--
 * CubeCart v6
 * ========================================
 * CubeCart is a registered trade mark of CubeCart Limited
 * Copyright CubeCart Limited 2014. All rights reserved.
 * UK Private Limited Company No. 5323904
 * ========================================
 * Web:   http://www.cubecart.com
 * Email:  sales@devellion.com
 * License:  GPL-2.0 http://opensource.org/licenses/GPL-2.0
-->
<installer version="1.0">
  <info>
	<uid>vlad.barliba@barandisolutions.ro</uid>
	<type>plugins</type>
	<name><![CDATA[ShareYourCart]]></name>
	<description><![CDATA[ShareYourCart Integration]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.0.*</maxVersion>
	<creator><![CDATA[Barandi Solutions]]></creator>
	<homepage><![CDATA[http://www.shareyourcart.com]]></homepage>
  </info>
  
  <hooks>
	<hook trigger="class.cubecart.display_basket.alternate" enabled="1"><![CDATA[Checkout Button]]></hook>
	<hook trigger="class.cubecart.display_product" enabled="1"></hook>
	<hook trigger="class.cubecart.construct.callback.gateway"
		enabled="1"><![CDATA[Callback]]>
	</hook>
  </hooks>
</installer>