<!--
/**
 * CubeCart v6
 * ========================================
 * CubeCart is a registered trade mark of CubeCart Limited
 * Copyright CubeCart Limited 2014. All rights reserved.
 * UK Private Limited Company No. 5323904
 * ========================================
 * Web:   http://www.cubecart.com
 * Email:  sales@devellion.com
 * License:  GPL-2.0 http://opensource.org/licenses/GPL-2.0
 */
-->
<?xml version="1.0" encoding="UTF-8" ?>
<installer version="1.0">
  <info>
	<uid>info@addshoppers.com</uid>
	<type>plugins</type>
	<name><![CDATA[AddShoppers Social Apps]]></name>
	<description><![CDATA[AddShoppers integration]]></description>
	<version>1.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.1.*</maxVersion>
	<creator><![CDATA[AddShoppers]]></creator>
	<homepage><![CDATA[http://www.addshoppers.com]]></homepage>
  </info>
  
  <hooks>
  	<hook trigger="class.cubecart.login" enabled="1"><![CDATA[Login Handler]]></hook>
  	<hook trigger="class.gui.display" enabled="1"><![CDATA[JavaScript Include]]></hook>
  </hooks>
</installer>